<h1>This is the home page</h1>
<h3>this is the only page other than the about page.</h3>
<body>
<p>
<div>
<%= link_to 'about', about_path %>
</div> <div>
<%= link_to 'create a new article', new_article_path %>
</div>
<div>
  <%= link_to 'view articles', articles_path %>
</div>
</p>
</body>