<h1>This is the home page</h1>
<h3>this is the only page other than the about page.</h3>
<body>
<p>
<div>
<%= link_to 'about', about_path %>
</div> <div>
<%= link_to 'create a new article', new_article_path %>
</div>
</p>
<br>
<p>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2j9e8UgC0wxhITFiVYKogoJFE3zUaaMzbKRdKGuRBwEWwdAOIkMbGVqo">
</p>
</body>